*venv*
.qodo

# Ignore all files in the models directory
/models/*

# Ignore all files in the data directory
# Ignore all in datos
/datos/*
# But keep 1. inicial
!/datos/1. inicial/


#Ignore pycache
__pycache__/
